rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Grant full read and write access to the specified administrative user
    match /{document=**} {
      allow read, write: if request.auth != null && request.auth.uid == "QtKTVNyqnjeZNiOaTJB6m0xaAkn2";
    }
    
    // Maintain standard access patterns for other users
    match /customers/{customerId} {
      allow read: if request.auth != null;
    }
    
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}